body {
  margin: 0 150px;
  background-color: rgb(235, 232, 232);
  font-family: Arial, Helvetica, sans-serif;
}

#navigation1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(88, 83, 83);
  height: 130px;
  margin-top: 20px;
}
h1 {
  margin-left: 35px;
  color: white;
  font-size: 35px;
}

h3 {
  margin-left: 165px;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 35px;
}
.lblue {
  color: skyblue;
}

.search {
  width: 340px;
  height: 36px;
  margin-left: -10px;
  border-radius: 8px;

  padding: 0 35px;
  padding-left: 5px;
  outline: none;
  box-shadow: none;
}
.glass {
  position: relative;
  bottom: 38px;
  left: 340px;
  outline: none;

  width: 24px;
  height: 26px;
  background-color: #ffa722;
  padding: 5px;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

#navigation2 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.rest-nav:hover {
  background-color: rgb(235, 232, 232);
  color: black;
  cursor: pointer;
}
.rest-nav {
  padding: 0 15px;
}

.navitems {
  margin: 20px;
}

.special {
  background-color: white;
  color: black;
  border-top: 2px solid #ffa722;
  padding: 0 45px;
}
.special:hover {
  background-color: silver;
  color: black;
  cursor: pointer;
}

.social-1 {
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
  color: white;
  margin-right: 20px;
}
.image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  top: 5px;
}
.sep {
  font-size: 25px;
  font-weight: 0;
  color: white;
  font-family: cursive;
  border: none;
}
#social-select {
  width: 18px;
  height: 10px;
  background-color: rgb(88, 83, 83);
  text-align: center;
  border: none;
  outline: 0;
}
label {
  font-weight: 900;
  margin-right: 10px;
}
#navigation3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul {
  list-style: none;
  margin-left: -15px;
}

.navcon {
  background-color: white;
  margin-top: -15px;
  width: 100%;
  height: 42px;
  position: relative;
}
.period {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(88, 83, 83);
  font-weight: 550;
  position: relative;
  top: 13px;
}
#mid-container {
  background-color: white;
  width: 100%;
  height: 900px;
  margin-top: 5px;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}
.mid-content {
  height: 250 px;
  width: 300px;
  margin: 8px;
  margin-top: 25px;
  border-radius: 8px;
  flex-grow: 1;

  font-family: Arial, Helvetica, sans-serif;
}

#table th,
#table td {
  padding: -8px 12px;

  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;

  margin: 0;
}
table {
  border-collapse: collapse;
}

tr td {
  padding: 12px;
}
tr:nth-child(even) {
  background-color: rgb(247, 247, 247);
}

.mid-content a {
  color: rgb(43, 43, 247);
  padding: 30px 0;
  text-decoration: none;
}

h4 {
  margin-left: 5px;
  text-align: left;
}
.first-mid li {
  margin-left: -16px;
  padding: 10px;
  font-size: 14px;
  margin-top: -12px;
}
.first-mid {
  border: 1px solid silver;
}
#datepicker {
  outline: #ffa722;
}
